<nav
  class="navbar navbar-expand-sm navbar-dark bg-secondary d-flex justify-content-between"
>
  <a class="navbar-brand" href="#">CORTEX - GENERADOR DE FACTURAS</a>
</nav>
<form #invoiceForm="ngForm">
  <div class="container-fluid pt-2 mb-5">
    <div class="row">
      <div class="col-md-8">
        <div class="card border-secondary mt-2">
          <div class="card-body">
            <div class="row">
              <div class="col-md-8">
                <div class="form-group">
                  <label for="date">Fecha</label>
                  <input
                    type="date"
                    class="form-control"
                    name="date"
                    id="date"
                    [ngClass]="{
                      'is-invalid': invoiceForm.submitted && InvoiceDate.invalid
                    }"
                    [(ngModel)]="invoice.date"
                    #InvoiceDate="ngModel"
                    required
                  />
                </div>
                <div class="form-group">
                  <label for="number">Número de factura</label>
                  <input
                    class="form-control"
                    type="number"
                    name="number"
                    id="number"
                    [ngClass]="{
                      'is-invalid':
                        invoiceForm.submitted && InvoiceNumber.invalid
                    }"
                    [(ngModel)]="invoice.number"
                    #InvoiceNumber="ngModel"
                    required
                  />
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="card border-secondary mt-2">
          <div class="card-body">
            <h4 class="card-title d-flex justify-content-between">
              Detalles del servicio
              <button
                type="button"
                class="btn btn-secondary"
                (click)="addProduct()"
              >
                +
              </button>
            </h4>
            <div class="row">
              <table class="table">
                <thead>
                  <tr>
                    <th width="25%">Concepto</th>
                    <th width="25%">Precio total (IVA incluido)</th>
                    <th width="25%">Cantidad</th>
                    <th width="25%">Total (IVA incluido)</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let product of invoice.products; let i = index">
                    <td scope="row">
                      <input
                        type="text"
                        class="form-control"
                        name="productName{{ i }}"
                        [ngClass]="{
                          'is-invalid':
                            invoiceForm.submitted && ProductName.invalid
                        }"
                        id="productName"
                        [(ngModel)]="product.name"
                        #ProductName="ngModel"
                        required
                      />
                    </td>
                    <td>
                      <input
                        type="number"
                        class="form-control"
                        name="price{{ i }}"
                        id="price"
                        [ngClass]="{
                          'is-invalid':
                            invoiceForm.submitted && ProductPrice.invalid
                        }"
                        [(ngModel)]="product.price"
                        #ProductPrice="ngModel"
                        required
                      />
                    </td>
                    <td>
                      <input
                        type="number"
                        class="form-control"
                        name="quantity{{ i }}"
                        id="quantity"
                        [ngClass]="{
                          'is-invalid':
                            invoiceForm.submitted && ProductQty.invalid
                        }"
                        [(ngModel)]="product.qty"
                        #ProductQty="ngModel"
                        required
                      />
                    </td>
                    <td>
                      {{ product.price * product.qty || "" }}
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
        <div class="card border-secondary mt-2">
          <div class="card-body">
            <h4 class="card-title">Detalles del cliente (opcional)</h4>
            <div class="row">
              <div class="col-md-8">
                <div class="form-group">
                  <label for="name">Cliente</label>
                  <input
                    type="text"
                    class="form-control"
                    name="name"
                    id="name"
                    [ngClass]="{
                      'is-invalid': invoiceForm.submitted && CustName.invalid
                    }"
                    [(ngModel)]="invoice.customerName"
                    #CustName="ngModel"
                  />
                </div>
                <div class="form-group">
                  <label for="address">Domicilio</label>
                  <textarea
                    class="form-control"
                    name="address"
                    id="address"
                    row="3"
                    [ngClass]="{
                      'is-invalid': invoiceForm.submitted && Address.invalid
                    }"
                    [(ngModel)]="invoice.address"
                    #Address="ngModel"
                  ></textarea>
                </div>

                <div class="form-group">
                  <label for="nif">N.I.F</label>
                  <input
                    class="form-control"
                    name="nif"
                    id="nif"
                    [ngClass]="{
                      'is-invalid': invoiceForm.submitted && Nif.invalid
                    }"
                    [(ngModel)]="invoice.nif"
                    #Nif="ngModel"
                  />
                </div>

                <div class="form-group">
                  <label for="cpMunProv">C.P./Municipio/Provincia</label>
                  <input
                    class="form-control"
                    name="cpMunProv"
                    id="cpMunProv"
                    row="3"
                    [ngClass]="{
                      'is-invalid': invoiceForm.submitted && CpMunProv.invalid
                    }"
                    [(ngModel)]="invoice.cpMunProv"
                    #CpMunProv="ngModel"
                  />
                </div>

                <div class="form-group">
                  <label for="telFax">Telf:/Fax</label>
                  <input
                    class="form-control"
                    name="telFax"
                    id="telFax"
                    [ngClass]="{
                      'is-invalid': invoiceForm.submitted && TelFax.invalid
                    }"
                    [(ngModel)]="invoice.telFax"
                    #TelFax="ngModel"
                  />
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-group">
                  <label for="email">Email</label>
                  <input
                    type="email"
                    class="form-control"
                    name="email"
                    id="email"
                    [(ngModel)]="invoice.email"
                  />
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <button
          type="button"
          class="btn btn-secondary btn-lg btn-block"
          (click)="invoiceForm.valid ? generatePDF('download') : ''"
        >
          Descargar Factura
        </button>
        <button
          type="button"
          class="btn btn-secondary btn-lg btn-block"
          (click)="invoiceForm.valid ? generatePDF('print') : ''"
        >
          Imprimir Factura
        </button>
        <button
          type="submit"
          class="btn btn-secondary btn-lg btn-block"
          (click)="invoiceForm.valid ? generatePDF() : ''"
        >
          Abrir Factura
        </button>
      </div>
    </div>
  </div>
</form>
